---
import { projectData } from "../../data/project_data";
import ProjectCard from "./ProjectCard.svelte";
---

<div
  class="bg-slate-300 px-5 md:px-10 lg:px-28 py-10 border-t-4 border-b-4 border-black h-fit max-h-min"
  id="projects"
>
  <div class="flex flex-col justify-center items-center">
    <p class="text-5xl font-bold font-monument tracking-wide text-slate-950">
      {"Projects"}
    </p>

    <p
      class="font-poppins font-medium py-2 max-w-3xl text-center tracking-normal"
    >
      {
        "These are some of the recent projects I have been deeply involved in, each reflecting my commitment to innovation and delivering impactful results."
      }
    </p>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 py-4">
    {projectData.filter((e) => e.pinned).map((e) => <ProjectCard {...e} />)}
  </div>
  <div class="text-center">
    <a
      class="inline-flex justify-center text-md font-bold uppercase py-3 px-10 bg-slate-600 text-gray-100 my-5 border-2 border-b-4 border-r-4 border-black rounded shadow-lg tracking-wider"
      href="/projects"
    >
      {"Check More..."}
    </a>
  </div>
</div>
