---
import { HERO_TITLE, HERO_DESC } from "../../data/Constants";
import Image from "astro/components/Image.astro";
import heroImage from "../../image/me.webp";
---

<div
  class="bg-cyan-300 px-5 lg:px-28 py-10 border-t-4 border-b-4 border-black flex flex-col lg:flex-row-reverse lg:justify-around items-center h-3/5 md:space-y-4"
>
  <div class="w-full md:w-2/5">
    <Image
      src={heroImage}
      alt={"This is me, tuhin bhowmick"}
      class={"bg-purple-300 mx-auto lg:w-2/3 border-black border-4 border-r-[12px] border-b-[12px] rounded-lg w-96 h-fit"}
      loading={"eager"}
      decoding={"auto"}
    />
  </div>

  <div
    class="py-2 max-w-md md:max-w-xl flex flex-col items-center lg:items-start"
  >
    <h1
      class="text-4xl md:text-5xl lg:text-6xl font-bold font-monument tracking-wide text-pretty spac text-cyan-950"
    >
      {HERO_TITLE}
    </h1>
    <div class="pt-2 tracking-wide font-poppins">
      <p class="text-lg pt-4 font-poppins font-medium text-center lg:text-left">
        {HERO_DESC}
      </p>
    </div>
  </div>
</div>
