---
import { Colors } from "../../util/Colors";
import SkillsCard from "./SkillsCard.astro";
---

<div
  class="flex space-x-5 flex-col items-center justify-evenly md:flex-row lg:space-x-20"
>
  <img
    class="rounded-lg border-black border-4 border-b-8 border-r-8 aspect-square md:h-96"
    src="/images/1162430_336.jpg"
  />
  <div class="w-fit lg:w-2/5 flex flex-col grow md:max-w-xl">
    <div>
      <p class="text-4xl font-bold tracking-wide font-playfair pb-5">
        {"See what I can do for you easily"}
      </p>
      <p class="text-base">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque odit nemo
        at excepturi pariatur. Officiis, porro distinctio quibusdam natus cum
        perspiciatis, sapiente architecto labore maiores adipisci error. Quidem,
        possimus consequatur?
      </p>
    </div>
    <div class="flex space-y-5 flex-col py-5 grow">
      <SkillsCard
        primary="Mobile Develpoment"
        secondary={"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam ab itaque ex minima accusantium deserunt temporibus, aspernatur dolores aliquam ducimus veniam, voluptatem explicabo quam id voluptate magnam velit ad. Quia."}
        image="./images/10301602_4412951.jpg"
        background={Colors.teal}
      />
      <SkillsCard
        primary="Backend Development"
        secondary={"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam ab itaque ex minima accusantium deserunt temporibus, aspernatur dolores aliquam ducimus veniam, voluptatem explicabo quam id voluptate magnam velit ad. Quia."}
        image="./images/4103163_1032.jpg"
        background={Colors.pink}
      />
    </div>
  </div>
</div>
