---
import { Colors, getColor } from "../../util/Colors";

export interface Props {
  primary: string;
  secondary: string;
  background?: Colors;
  image: string;
}

const { primary } = Astro.props;
const { image } = Astro.props;
const { secondary } = Astro.props;

const background = getColor(Astro.props.background);
---

<div
  class={`${background} border-2 border-r-4 border-b-4 border-black rounded-md max-w-xl`}
>
  <p
    class="p-2 font-bold border-b-2 border-black font-playfair tracking-wide text-lg"
  >
    {primary}
  </p>
  <div class="flex flex-col p-2 lg md:flex-row-reverse justify-between">
    <img
      src={image}
      alt="No skill image found"
      class="h-32 aspect-square w-32 rounded-full"
    />
    <p class="font-normal text-sm leading-wide">
      {secondary}
    </p>
  </div>
</div>
