---
import SkillBlock from "./SkillBlock.astro";
---

<div
  class="bg-lime-300 py-10 border-t-2 border-black px-5 md:px-10 lg:px-28"
  id="skills"
>
  <div class="flex flex-col items-center space-y-4 w-full">
    <h2 class="text-5xl font-bold font-monument tracking-wide text-lime-950">
      {"Skills"}
    </h2>
    <p class="font-poppins font-medium w-4/5 text-md">
      {
        "Intermediate Android developer proficient in Kotlin and Ktor for building robust and scalable mobile applications. Experienced in exploring Flutter for cross-platform development and possessing foundational knowledge of web-based Python frameworks."
      }
    </p>
  </div>

  <div
    class="grid grid-cols-2 lg:grid-cols-8 md:grid-cols-4 gap-3 text-lime-950 mt-10"
  >
    <SkillBlock
      name="Kotlin"
      imageSrc="https://skillicons.dev/icons?i=kotlin"
    />
    <SkillBlock name="Dart" imageSrc="https://skillicons.dev/icons?i=dart" />
    <SkillBlock
      name="Python"
      imageSrc="https://skillicons.dev/icons?i=python"
    />
    <SkillBlock
      name="Javascript"
      imageSrc="https://skillicons.dev/icons?i=javascript"
    />
    <SkillBlock
      name="Android Studio"
      imageSrc="https://skillicons.dev/icons?i=androidstudio"
    />

    <SkillBlock
      name="Arduino"
      imageSrc="https://skillicons.dev/icons?i=arduino"
    />
    <SkillBlock name="Asrto" imageSrc="https://skillicons.dev/icons?i=astro" />

    <SkillBlock
      name="Django"
      imageSrc="https://skillicons.dev/icons?i=django"
    />
    <SkillBlock
      name="Firebase"
      imageSrc="https://skillicons.dev/icons?i=firebase"
    />
    <SkillBlock
      name="Flutter"
      imageSrc="https://skillicons.dev/icons?i=flutter"
    />
    <SkillBlock name="Git" imageSrc="https://skillicons.dev/icons?i=git" />
    <SkillBlock
      name="GitHub"
      imageSrc="https://skillicons.dev/icons?i=github"
    />

    <SkillBlock
      name="Graphql"
      imageSrc="https://skillicons.dev/icons?i=graphql"
    />
    <SkillBlock name="Ktor" imageSrc="https://skillicons.dev/icons?i=ktor" />
    <SkillBlock name="Mysql" imageSrc="https://skillicons.dev/icons?i=mysql" />
    <SkillBlock
      name="Sqlite"
      imageSrc="https://skillicons.dev/icons?i=sqlite"
    />
  </div>
  <p class="py-4 text-lime-950 font-medium text-center text-md font-poppins">
    {
      " * Currently focusing on mobile development,thus mobile technologies are more brushed"
    }
  </p>
</div>
