---
import Skills from "./Skills.astro";
import WorkingProcess from "./WorkingProcess.astro";
---

<div
  class="bg-violet-300 py-10 border-t-2 border-black px-5 md:px-10 lg:px-28"
  id="skills"
>
  <Skills />
  <WorkingProcess />
</div>
