---
import { Colors, getColor } from "../../util/Colors";

export interface Props {
  primary: string;
  secondary: string;
  background?: Colors;
  image: string;
}

const { primary } = Astro.props;
const { image } = Astro.props;
const { secondary } = Astro.props;

const background = getColor(Astro.props.background);
---

<div
  class={`${background} border-2 border-r-4 border-b-4 border-black rounded-md`}
>
  <p class="p-2 font-bold border-b-2 border-black font-playfair tracking-wide">
    {primary}
  </p>
  <div
    class="flex flex-col p-2 lg md:flex-row-reverse items-center md:space-x-5"
  >
    <img
      src={image}
      alt="Not found"
      class="h-32 aspect-square w-32 rounded-full pb-2"
    />
    <p
      class="font-normal lg:pr-2 tracking-tighter leading-tight max-w-sm md:max-w-md"
    >
      {secondary}
    </p>
  </div>
</div>
