---
import { Colors, getColor } from "../../util/Colors";

export interface Props {
  title: string;
  secondary: String;
  bgColor: Colors;
}
const { title } = Astro.props;

const { secondary } = Astro.props;

const color = getColor(Astro.props.bgColor);
---

<div
  class={`p-3 border-2 border-black border-l-8 rounded-r-lg text-sm  ${color}`}
>
  <p class="font-bold text-xl pb-2 font-playfair tracking-wide">
    {title}
  </p>
  <p class="tracking-wide font-poppins font-normal">
    {secondary}
  </p>
</div>
