---
import { Colors } from "../../util/Colors";
import WorkingProcessCards from "./WorkingProcessCards.astro";
---

<div class="pt-10">
  <div class="max-w-2xl">
    <p class="text-4xl font-extrabold tracking-wide font-playfair capitalize">
      {"Style of   Work"}
    </p>
    <p class="pt-5 font-poppins font-medium">
      Rusing into things without proper planning can only create disater.I like
      to take my time anazyle the given condition make a proper plan then shift
      to work.
    </p>
  </div>

  <div class="pt-4 grid grid-cols-1 gap-4 md:grid-cols-3">
    <WorkingProcessCards
      title="Discovery"
      bgColor={Colors.yellow}
      secondary={"I start by learn and reaseach of the project needs,getting acquinted with the api,pattern and others.These decisions really  come handly latter oin the project"}
    />
    <WorkingProcessCards
      title="Strategy"
      bgColor={Colors.green}
      secondary={"Then start to plan and structure the project process and all the possible requirements based on the discovery before writing any actual code"}
    />
    <WorkingProcessCards
      title="Work"
      bgColor={Colors.violet}
      secondary={"After the completion of all the process ,goals scope.I will start will the small parts and slowing increase my pace of work,creating the most important features alawys come fast."}
    />
  </div>
</div>
