---
import { Colors, getColor } from "../../util/Colors";

export interface Props {
  title: string;
  secondary: String;
  bgColor: Colors;
}
const { title } = Astro.props;

const { secondary } = Astro.props;

const color = getColor(Astro.props.bgColor);
---

<div class={`p-3 border-2 border-black border-l-8 rounded-r-lg  ${color}`}>
  <p class="font-bold text-xl pb-1 font-playfair tracking-wide">{title}</p>
  <p class="text-sm md:tracking-wide">
    {secondary}
  </p>
</div>
