---
---

<div
  class="bg-rose-300 px-10 py-10 border-t-2 border-black lg:flex space-x-5 h-3/5"
  id="about"
>
  <div class="w-full lg:w-2/5">
    <img
      src="./images/me.png"
      alt="No person image"
      class="bg-amber-300 mx-auto border-black border-4 border-r-8 border-b-8 rounded-lg w-2/3"
    />
  </div>

  <div class="py-2 max-w-xl">
    <p class="text-4xl font-bold font-playfair tracking-normal">
      {"About"}
    </p>
    <div class="pt-2 font-semibold tracking-wide">
      <p class="text-lg pt-4 italic font-poppins">
        {
          " Hi 👋, I am Tuhin , a mobile developer who love to make flutter and python based apps."
        }
      </p>
      <p class="pt-2 lg:pt-4">
        {
          "I am commited to solve any problems with a different way of thinking and love by having a discussion to solve your problem and develpo business"
        }
      </p>
    </div>
  </div>
</div>
