<div
  class="bg-orange-300 px-5 md:px-10 lg:px-28 py-10 border-b-4 border-black flex lg:flex-row flex-col justify-around items-center h-3/5 space-y-4"
  id="about"
>
  <div class="py-2 w-full flex flex-col items-center lg:items-start">
    <h2
      class="text-4xl md:text-5xl font-bold font-monument tracking-normal uppercase text-orange-950"
    >
      {"About"}
    </h2>
    <div class="pt-2 tracking-wide font-poppins">
      <p class="pt-2 lg:pt-4 font-medium tracking-normal text-lg">
        {
          "My interest in programming in general and development, started back in"
        }
        <span class="text-orange-900 font-bold italic">2020,</span>
        {
          "It was really facinating and wondering, how some text files create just fancier things "
        }
        <span class="text-orange-900 font-semibold"
          >{
            "(After working with those silly text files, these are more than simple text files 😅).,"
          }</span
        >
        <br />
        {
          "I watched a lot of youTube videos back then, from every possible programming channels\
         to try out what they are building. Fast forward to 2024... ,currently I am studying"
        }
        <span class="text-orange-900 font-bold italic">
          {"Computer Science"}
        </span>
        {
          "and developing myself through new technologies on the internet.\
           Currently, I am working on"
        }
        <span class="text-emerald-800 font-extrabold underline"
          >{"Android App development"}</span
        >
        {"with "}
        <span class="text-purple-900 font-extrabold underline">{"Kotlin"}</span>
      </p>
    </div>
  </div>
</div>
