---
---

<div
  class="bg-rose-300 px-10 lg:px-28 py-10 border-t-2 border-black flex flex-col lg:flex-row-reverse justify-between items-center h-3/5"
  id="about"
>
  <div class="w-2/5">
    <img
      src="./images/me.png"
      alt="No person image"
      class="bg-amber-300 mx-auto w-2/3 border-black border-4 border-r-8 border-b-8 rounded-lg"
    />
  </div>

  <div class="py-2 lg:max-w-lg">
    <p class="text-4xl font-bold font-playfair tracking-normal">
      {"About"}
    </p>
    <div class="pt-2 font-semibold tracking-wide">
      <p class="text-lg pt-4 italic font-poppins">
        Hi 👋, I am Tuhin ,<span class="text-rose-500 capitalize font-black">
          an application developer</span
        > who love to make flutter and python based apps."
      </p>
      <p class="pt-2 lg:pt-4">
        {
          "I am commited to solve any problems with a different way of thinking and love by having a discussion to solve your problem and develpo business"
        }
      </p>
    </div>
  </div>
</div>
