---
import Learning from "./Learning.astro";
---

<div
  class="bg-rose-300 px-5 md:px-10 lg:px-28 py-10 border-t-2 border-black flex flex-col lg:flex-row-reverse justify-between items-center h-3/5"
  id="about"
>
  <div class="w-full md:w-2/5">
    <img
      src="./images/me.png"
      alt="No person image"
      class="bg-amber-300 mx-auto lg:w-2/3 border-black border-4 border-r-8 border-b-8 rounded-lg w-96"
    />
  </div>

  <div class="py-2 max-w-sm md:max-w-xl">
    <p class="text-4xl font-bold font-playfair tracking-normal">
      {"About"}
    </p>
    <div class="pt-2 tracking-wide font-poppins">
      <p class="text-lg pt-4 italic font-poppins font-bold">
        Hello!👋 My name is Tuhin and I enjoy learing new things that are trendy
        on the internet and making <span
          class="font-poppins text-pink-900 font-black capitalize underline"
          >mobile</span
        > and <span
          class="font-poppins text-red-800 font-black capitalize underline"
          >python</span
        > based apps.
      </p>
      <p class="pt-2 lg:pt-4 font-medium tracking-tight text-base">
        My interest in application development started back in <span
          class="text-rose-700 font-bold italic"
          >2020
        </span>, I was a kid wondering how this wonderful things are made,I was
        facinated by the youtube tutorial videos , due to which I decided to try
        them out and was facinated by the way that just a simple python script
        can do such huge things. Fast-forward to today,I am a studying<span
          class="text-rose-700 font-bold italic"
        >
          Computer Science</span
        > and developing myself through the sources available on the internet.
      </p>
    </div>
    <Learning />
  </div>
</div>
