<div class="md:flex gap-2 justify-center font-poppins font-medium">
  <div>
    Built with
    <strong>
      <a
        class="text-lg pl-1 bg-orange-600 text-black px-2 rounded-lg"
        href="https://astro.build/"
        rel="noopener noreferrer"
        target="_blank"
      >
        Astro
      </a>
    </strong>
  </div>
  <div>
    styled with
    <strong>
      <a
        class="text-lg pl-1 bg-cyan-500 text-black px-2 rounded-lg"
        href="https://tailwindcss.com/"
        rel="noopener noreferrer"
        target="_blank"
      >
        Tailwind
      </a>
    </strong>
  </div>
</div>
