---
import BuildWith from "./BuildWith.astro";
import Contacts from "./Contacts.astro";
---

<footer class="bg-yellow-200 text-center py-10 pb-5 border-t-2 border-black">
  <p class="text-4xl font-bold tracking-tight text-center font-playfair">
    {" Interested in my work"}
  </p>
  <p class="tracking-tight text-base font-poppins py-2 text-center">
    {" I like to convert ideas into reallity"}
  </p>
  <a
    class="inline-flex justify-center text-md font-bold uppercase py-3 px-10 bg-slate-400 text-black my-5 border-2 border-b-4 border-r-4 border-black rounded shadow-lg tracking-wider"
    href="https://www.instagram.com/tuuhin_/"
  >
    {"Contact me"}
  </a>

  <Contacts />

  <BuildWith />
</footer>
