---
import Contacts from "./Contacts.astro";
---

<footer class="bg-yellow-200 text-center pt-10 pb-5 border-t-2 border-black">
  <p class="text-4xl font-bold tracking-tight text-center font-merriweather">
    {" Interested in my work"}
  </p>
  <p class="font-semibold text-slate-800 pt-2 text-sm">
    {" I will surely convert your ideas into wonderful apps"}
  </p>
  <a
    class="inline-flex justify-center rounded-lg text-sm font-semibold py-3 px-4 bg-slate-900 text-white my-5"
    href="/#"
  >
    {"Contact me"}
  </a>

  <Contacts />

  <p class="font-light font-mono">Copyright &copy; 2023 all rights reserved</p>
</footer>
