---
import BuildWith from "./BuildWith.astro";
import Contacts from "./Contacts.astro";
---

<footer class="bg-yellow-300 text-center py-10 pb-5 border-t-2 border-black">
  <h3
    class="text-2xl md:text-3xl font-bold text-center font-monument tracking-wide text-yellow-950"
  >
    {"Interested in my work"}
  </h3>
  <p
    class="tracking-tight text-md md:text-xl font-medium font-poppins py-2 text-center text-yellow-900"
  >
    {"Have an app idea to discuss with me"}
  </p>
  <a
    class="inline-flex justify-center text-md font-bold uppercase py-3 px-10 bg-indigo-500 my-5 border-2 border-b-4 border-r-4 border-black rounded hover:shadow-lg tracking-wider font-poppins text-black hover:-translate-y-4 transition-all"
    href="mailto:tuhinbhowmick2513@gmail.com?body=Hi,I found this website and .."
    aria-label="mail"
  >
    {"Contact me"}
  </a>

  <Contacts />

  <BuildWith />
</footer>
