---
import BuildWith from "./BuildWith.astro";
import Contacts from "./Contacts.astro";
---

<footer class="bg-[#BCE29E] text-center py-10 pb-5 border-t-2 border-black">
  <h3 class="text-4xl font-bold tracking-tight text-center font-playfair">
    {"Interested in my work"}
  </h3>
  <p class="tracking-tight text-base font-poppins py-2 text-center">
    {"Have an app idea to discuss with me"}
  </p>
  <a
    class="inline-flex justify-center text-md font-bold uppercase py-3 px-10 bg-[#DBCC95] text-black my-5 border-2 border-b-4 border-r-4 border-black rounded shadow-lg tracking-wider"
    href="mailto:tuhinbhowmick2513@gmail.com?body=Hi,I found this website and .."
    aria-label="mail"
  >
    {"Contact me"}
  </a>

  <Contacts />

  <BuildWith />
</footer>
